06_实战案例/01-检查一个网站的sitemap.xml文件中列出的URL的HTTP状态/检查站点http请求状态.json
{
  "name": "检查站点http请求状态",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        880
      ],
      "id": "bbb61770-e962-4837-a8fb-e36f948d43bd",
      "name": "When chat message received",
      "webhookId": "0f5fbbdf-2d53-4b73-bbba-22622396cf46"
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        880
      ],
      "id": "fd365590-c890-49a6-a9bf-6f3b306197a2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        848,
        880
      ],
      "id": "fbb5e127-d5dc-48de-80e0-4f2c1873bed9",
      "name": "XML1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1328,
        880
      ],
      "id": "76f9f2ab-01dc-4803-b2dc-ec37da18cacc",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1568,
        880
      ],
      "id": "a4bcbe08-4a0f-43e6-ae0b-45fabe50d216",
      "name": "Limit1"
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1776,
        880
      ],
      "id": "09c33f9d-9f6d-4441-b317-2b4db4a785ab",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2560,
        1136
      ],
      "id": "a4d75940-2d9c-43b5-8a59-a16803e32e3d",
      "name": "Wait",
      "webhookId": "ea1444ec-e5d8-44b5-9fed-22e72793c219"
    },
    {
      "parameters": {
        "url": "={{ $json.urls }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": false,
              "responseFormat": "autodetect"
            }
          },
          "pagination": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2112,
        896
      ],
      "id": "c47f8f95-9758-434a-b3f6-5946bf88549f",
      "name": "HTTP Request",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 修改 Filter1 的 JS Code\nconst urls = $input.first().json.urlset.url;\n\n// 提取 loc 字段\nreturn {\n  urls: urls.map(item => item.loc),\n  total: urls.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        880
      ],
      "id": "e7b9a5d3-6c52-4bb9-a0b9-5d948f65e401",
      "name": "Code"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5d090c3-a9c7-4bd1-bc11-ccc234de5e78",
              "leftValue": "={{ $json.data }}",
              "rightValue": "=undefined",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2544,
        896
      ],
      "id": "a27b9b06-bb32-4d90-874f-3921ae1ecc1b",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3216,
        752
      ],
      "id": "180daebf-113e-4e9c-8a1a-28c57e4bf3f4",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.first();\n\nreturn {\n  json: {\n    url: item.json.url,           // 当前请求的URL\n    statusCode: item.json.statusCode || null,\n    error: \"Request failed or returned no data\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2976,
        784
      ],
      "id": "77e0823d-88ae-4b45-aa68-d70018a8e7a9",
      "name": "Code2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=f0eea886-0d61-43a5-8aa8-e081c23a6e50",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"text\",\n  \"text\": {\n    \"content\": \"🚨 检测到 {{ $json.totalFailed }} 个失效页面：\n{{ $json.failedUrls.map(f => f.url).join('\\n') }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3664,
        752
      ],
      "id": "2f3a5699-070c-4a32-a567-198055fc2a8a",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all;\n\nconst failedList = items.map(item => ({\n  url: item.json.url,\n  statusCode: item.json.statusCode\n}));\n\nreturn [{\n  json: {\n    totalFailed: failedList.length,\n    failedUrls: failedList,\n    summary: `Found ${failedList.length} failed URL(s)`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3440,
        768
      ],
      "id": "442dbcf2-eacb-4cc3-a7c0-be84804afa7f",
      "name": "Code5"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const urls = $json.urls.split(',').map(u => u.trim());\nreturn { json: { url: urls[0] } }; // 只返回第一个 URL"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        496
      ],
      "id": "4504faab-62e6-4e50-b2f7-a9cb9b4335a2",
      "name": "Code1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    url: $json.urls\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2256,
        496
      ],
      "id": "8cce6024-047f-48ab-90e0-851edf37c216",
      "name": "Code3"
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        1904
      ],
      "id": "7a13213c-63da-4a86-938e-26107852bf31",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1008,
        1904
      ],
      "id": "04aafc22-3576-4a7f-8d7d-57821c5546fd",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        1904
      ],
      "id": "54621da7-44fa-4fbb-b0e5-06b4d22dde35",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 100
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1728,
        1904
      ],
      "id": "e057654c-1e98-4863-9a4f-0f951185471d",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1936,
        1904
      ],
      "id": "37b2a404-b2d0-4979-b23d-ce046d695f1e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2224,
        2208
      ],
      "id": "dad76636-13f5-42fe-8cdd-db54a01d0630",
      "name": "Wait1",
      "webhookId": "ea1444ec-e5d8-44b5-9fed-22e72793c219"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": false,
              "responseFormat": "autodetect"
            }
          },
          "pagination": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        1920
      ],
      "id": "ebb4edb4-a89e-424e-a6de-9f7a07dddb8f",
      "name": "HTTP Request3",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// 修改 Filter1 的 JS Code\nconst urls = $input.first().json.urlset.url;\n\n// 提取 loc 字段\nreturn {\n  urls: urls.map(item => item.loc),\n  total: urls.length\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        1904
      ],
      "id": "40560bf5-2c91-4b5d-8530-f4d2e6726a4c",
      "name": "Code6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c5d090c3-a9c7-4bd1-bc11-ccc234de5e78",
              "leftValue": "={{ $json.data }}",
              "rightValue": "=undefined",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2656,
        1920
      ],
      "id": "1eee776c-c850-48d1-8923-c7f46b108fae",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\n\nreturn {\n  json: {\n    url: item.json.urls,         // 当前请求的URL\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1920
      ],
      "id": "2f98c7cc-776b-4b45-bc14-e7814b75f9c7",
      "name": "Code7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://qyapi.weixin.qq.com/cgi-bin/webhook/send?key=f0eea886-0d61-43a5-8aa8-e081c23a6e50",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msgtype\": \"text\",\n  \"text\": {\n    \"content\": \"🚨 检测到页面失效：\n  URL: {{ $json.url }}\n  状态码: {{ $json.statusCode }}\n  错误: {{ $json.error }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3264,
        1904
      ],
      "id": "b23c637a-b0ab-449c-b009-e74096153d92",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "jsCode": "// 获取当前失败的请求数据\nconst item = $input.first();\n// 从 HTTP Request3 的响应中获取状态码\nconst statusCode = item.json.statusCode;\n\n// 返回结构化数据\nreturn [{\n  json: {\n    url:$('Code7').first().json.url,\n    statusCode: statusCode,\n    error: \"Request failed or returned no data\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2944,
        1904
      ],
      "id": "d1927c81-f825-48a2-adcf-76fcc9f21fcf",
      "name": "Code8"
    },
    {
      "parameters": {
        "content": "## 1.0--Loop Over Items 必须一个一个遍历",
        "width": 464,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1760,
        1696
      ],
      "id": "bbb3a7a6-a54f-46fe-9639-718b92bef5c9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        []
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        []
      ]
    },
    "Code3": {
      "main": [
        []
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efc84a77-524c-46de-b6b8-68517cadfe26",
  "meta": {
    "instanceId": "27bb961065add72c965e719bfc4ea85fc084efb8149ffb7d4555a038739e5304"
  },
  "id": "2ol3gse0cBfTUuai",
  "tags": []
}